// Container
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.fullwidth {
    width: 100%;
    flex-basis: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-decoration-none {
    text-decoration: none;
}

// Colors

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.white {
    color: var(--white);
}

.lightgray {
    color: var(--lightgray);
}

.darkgray {
    color: var(--darkgray);
}

.black {
    color: var(--black);
}

