nav.navigation {
    max-height: 0;
    height:0;
	overflow: hidden;

    transition: max-height .5s ease;

    @include mq('tablet') {
        max-height: $nav-height;
        height: $nav-height;
    }

    &.showMenu {
        height: auto;
        max-height: 100vh;
    }


}