header.siteheader {
 	width: 100%;
	min-height: 50px;
	background: #ffc;
    position: relative;
    padding: 1rem 0;
    
    .header__blogname {
        font-size: 2rem;
    }
    .blog-description {
        margin-bottom: 1rem;
    }
   
}



