@import "typography/font-face";
@import "basics/variables";


// Title in Editor
.editor-post-title__input {
    font-family: $heading-font !important;
}
// Blocks
[class*="editor-block-list"] {
    font-family: $text-font !important;
}

